body, html {
    height: 100%;
}
.bg {
    background-image: url("https://wallpaperaccess.com/full/1812875.jpg");
    height: max-content;
    background-position: center;
    background-repeat: repeat-y;
    background-size: inherit;
}


